<section class="contact section" id="contact">
    <h2 class="section__title">Contact me</h2>
    <span class="section__subtitle">Get in touche</span>
    <div class="contact__container container grid">
        <div>
            <h3 class="descr-title">My contact</h3>
            <div class="contact__information">
                <i class="contact__icon uil uil-phone"></i>
                <div>
                    <h3 class="contact__title">Phone number</h3>
                    <span class="contact__subtitle">{{owner.phone_number|default:""}}</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="contact__icon uil uil-envelope"></i>
                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">{{owner.user.email|default:""}}</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="contact__icon uil uil-map-marker"></i>
                <div>
                    <h3 class="contact__title">Location</h3>
                    <span class="contact__subtitle">{{owner.location|default:""}}</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="contact__icon uil uil-linkedin"></i>
                <div>
                    <h3 class="contact__title">Linkedin</h3>
                    <span class="contact__subtitle">{{owner.linkedin|default:""}}</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="contact__icon uil uil-facebook-f"></i>
                <div>
                    <h3 class="contact__title">Facebook</h3>
                    <span class="contact__subtitle">{{owner.facebook_name|default:""}}</span>
                </div>
            </div>
        </div>
        <form action="#" class="contact__form grid">
            <h3 class="descr-title">Send me a message</h3>
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label class="contact__label">
                        Name
                    </label>
                    <input type="text" class="contact__input">

                </div>
                <div class="contact__content">
                    <label class="contact__label">
                        Email
                    </label>
                    <input type="email" class="contact__input">

                </div>
            </div>
            <div class="contact__content">
                <label class="contact__label">
                    Message
                </label>
                <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>

            </div>
            <div>
                <button type="submit" class="button button--flex">
                    Send Message <i class="button__icon uil uil-message"></i>
                </button>
            </div>
        </form>
    </div>
</section>