<div class="split about-detail">
    <div class="picture">
        <img src="{{ owner.image.url }}" alt="Picture of me">
    </div>
    <div class="about-me">
        <div class="me">
            <h2>Why Work With Me</h2>
            <p>{{ owner.short_description }}</p>
        </div>
        <div class="soft-skills">
            <h2>Soft skills</h2>
            <ul>
                {% for soft in owner.softskill_set.all %}
                    <li>
                        <b>{{soft.name}}</b>
                        {% if soft.short_description %}
                            : {{ soft.short_description }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="dev-skills">
            <h2>Development skills</h2>
            {% comment %} <tr><th></th><th>Technology</th><th>Level</th></tr> {% endcomment %}
            {% for dev in owner.developmentskill_set.all %}
                <div class='skills'>
                    <div><img src="{{ dev.image.url }}" alt="{{dev.name}}"></div>
                    <div>{{dev.name}}</div>
                    <div>{{dev.level}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>