<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="portfolio__container container">
        <div>
            
            {% for portfolio in owner.portfolio_set.all %}
                <div class="portfolio__content grid swiper-slide">
                    <a href="{{portfolio.link}}" target='_blank'>
                        <img src="{{portfolio.image.url}}" alt="{{portfolio.title}}" class="portfolio__img">
                    </a>

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">{{portfolio.title}}</h3>
                        <p class="portfolio__description">{{portfolio.description}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
