<section class="projects section" id="projects">
    <h2 class="section__title">projects</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="projects__container container">
        <div>
            
            {% for project in owner.project_set.all %}
                <div class="projects__content grid">
                    <a href="{{project.link}}" target='_blank'>
                        <img src="{{project.image.url}}" alt="{{projects.title}}" class="projects__img">
                    </a>

                    <div class="projects__data">
                        <h3 class="projects__title">{{project.title}}</h3>
                        <p class="projects-description">{{project.description}}</p>
                    </div>
                    <span class="button button--flex button--small button--link services__button">
                        View more <i class="button__icon uil uil-arrow-right"></i>
                    </span>
                    <div class="services__modal">
                        <div class="projects-modal">
                            <i class="services__modal-close uil uil-times"></i>

                            <div class='project-image-modal'>
                                <a href="{{project.link}}" target='_blank'>
                                    <img src="{{project.image.url}}" alt="{{project.title}}">
                                </a>
                            </div>
                            <div class="projects-details-modal">
                                <h2 class="projects-title-modal">Title : {{project.title}}</h3>
                                <h3 class="project-subtitle-modal">Description</h3>
                                <p class="project-description-modal">
                                    {{project.description}}
                                    <p class="projects-link-modal"><a href="{{project.link}}" target='_blank'>View site <i class="button__icon uil uil-arrow-right"></i></a></p>
                                    <p class="projects-link-modal"><a href="{{project.source}}" target='_blank'>Source code <i class="button__icon uil uil-arrow-right"></i></a></p>
                                    <p class="projects-link-modal"><a href="{{project.detail}}" target='_blank'>Detail <i class="button__icon uil uil-arrow-right"></i></a></p>
                                </p>
                                
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
