<section class="projects section" id="projects">
    <h2 class="section__title">projects</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="projects__container container">
        <div>
            
            {% for project in owner.project_set.all %}
                <div class="projects__content grid swiper-slide">
                    <a href="{{project.link}}" target='_blank'>
                        <img src="{{project.image.url}}" alt="{{projects.title}}" class="projects__img">
                    </a>

                    <div class="projects__data">
                        <h3 class="projects__title">{{project.title}}</h3>
                        <p class="projects__description">{{project.description}}</p>
                    </div>
                    <div class="project-modal">
                        <div class='project-image-modal'>
                            <a href="{{project.link}}" target='_blank'>
                                <img src="{{project.image.url}}" alt="{{projects.title}}">
                            </a>
                        </div>
                        <div class="projects-details-modal">
                            <h2 class="projects-title-modal">Title : {{project.title}}</h3>
                            <h3 class="project-subtitle-modal">Description</h3>
                            <p class="project-description-modal">{{project.description}}</p>
                            <p class="projects-link-modal"><a href="{{project.link}}" target='_blank'>View site</a></p>
                            <p class="projects-source-modal"><a href="{{project.source}}" target='_blank'>Source code</a></p>
                            <p class="projects-detail-modal"><a href="{{project.detail}}" target='_blank'>Detail</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
