{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="I am a web developper and this is my port folio">
    <meta name="author" content="ANDRIAMIFIDISOA Nomena Sombiniaina Alfa">


    <!-- Webpage Title -->
    <title>Personnal Portfolio</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="{% static 'base/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/fontawesome-all.css' %}" rel="stylesheet">
	<link href="{% static 'base/css/styles.css' %}" rel="stylesheet">
	<link href="{% static 'base/css/custom.css' %}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="{% static 'base/images/favicon.png' %}">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    {% include 'layouts/nav.html' %}
    {% include 'layouts/header.html' %}

    {% include 'layouts/divider.html' %}

    {% include 'base/includes/about.html' %}

    {% include 'layouts/divider.html' %}

    {% include 'base/includes/services.html' %}

    {% include 'layouts/divider.html' %}

    {% include 'base/includes/detail.html' %}
    
    {% include 'layouts/divider.html' %}

    {% include 'base/includes/projects.html' %}

    {% include 'layouts/divider.html' %}

    {% include 'base/includes/contact.html' %}

    {% include 'layouts/divider.html' %}

    {% include 'layouts/footer.html' %}
    <!-- Scripts -->
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'base/js/scripts.js' %}"></script>
</body>
</html>